@use 'params';

input[type=text], input[type=password], input[type=email], input[type=number] {
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 100%;
}

.auth-input[type=email], .auth-input[type=password], .auth-input[type=number] {
	margin-bottom: 10px;
	width: 50vw;
	font-size: 18px;
}