@use 'params';

.message {
    padding: 10px;
    border-radius: 10px;
    color: params.$white;
    font-weight: bold;
}

.message-error {background-color: params.$redColor;}
.message-success {background-color: params.$greenColor;}