@use 'params';

.talk-box {
	display: flex;
	justify-content: left;
	align-items: left;
	z-index: 100;
}

.talk-text {
	background-color: params.$white;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.talk-box-img {
	border-radius: 10%;
	margin-right: 10px;
}

.talk-text-area {
	font-size: 14px;
	width: 250px;
	word-break: break-word;
}