{% extends "base.html" %}
{% block title %}User Config{% endblock %}
{% block main %}
    <h1>User Configuration for (())</h1>

    <div class="box">
        <h2>Add Account</h2>
        <p>An account is your checking, savings, etc.</p>

        <form action="{{ url_for('views.user_config') }}" method="POST">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="box">
        <h2>Add Transaction</h2>
        <p>Transactions are well, paid transactions on your account.</p>

        <form action="{{ url_for('views.user_config') }}" method="POST">
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}